header {
  border-bottom: 1px solid gray;
  height: 65px;
  background-color: rgb(195, 195, 195);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav {
  float: right;
}
.products {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px gray;
  margin-right: 27px;
}

body {
  font-family: 'Lucida Grande', sans-serif;
  margin: 0;
  background-image: url("background.png");
  background-size: 200px 200px;
}

.logoImage {
  width: 300px;
  height: 200px;
}

.button {
  font-family: 'Lucida Grande', sans-serif;
  color: white;
  background-color: rgb(56, 77, 174);;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 9px;
  text-align: center;
  margin-right: 15px;
  margin-top: 6px;
}


  header nav ol {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  nav ol li {
    display: inline;
  }

  main {

    max-width: 1000px;
    padding: 40px;
    margin: 0 auto;
    }

.logoImage {
  height: 100px;
  width: 200px;
}

  section {
    background-color: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(196, 196,196);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
  }


  footer {
    border-top: 1px solid rgba(209, 209, 209, 1);
    /*border-top: 1px solid white;*/
    text-align: center;
    color: gray;
    padding-top: 15px;
    font-size: 12px;
    max-width: 800px;
    margin: 35px auto;
  }
