body {
  background-color: rgba(178 , 160, 189, 1);
  height: 100%;
  /*position: absolute;*/
  background-size: cover;
}

h1  {
  font-size: 88px;
  color: rgba(44, 28, 123, 1);
  text-align: center;
  font-family: 'UnifrakturMaguntia', cursive;
}

h2 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 32px;
  color: rgba(92, 35, 125, 1);
  text-align:center;
  margin-top: 70px;
  font-family: 'Sail', cursive;
}

.dancingMuerto {
  margin-left: 39%;
  /*margin-right: auto;*/
  display: inline-block;
  position: relative;

}

audio {
  margin-left: 39%;
  margin-bottom: 10px;
}


button {
  width: inherit;
  height: 43px;
  /*margin-top: 55px;*/
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  color: rgba(16, 5, 97, 1);
  font-size: 18px;
  background-color: rgba(178, 85, 232, 1);
  text-align: center;
  display: block;
  border-radius: 25px;
}

.visable{
  display: block;
}

.hidden {
  display: none;
}

 .quote {
   color: rgba(62, 1, 97, 1);
  text-align: center;
    font-family: 'Sail', cursive;
  font-size:  -webkit-xxx-large;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

/*.setBackgroundImage {
background-size: 100%;
}*/
