body {
  background-color: red;
  height: 100%;
}

h1  {
  color: rgba(15, 193, 242, 1);
  font-family: sans-serif;
  text-align: center;

}
h2 {
  color: rgba(15, 193, 242, 1);
  text-align:center;
  margin-top: 70px;
  font-family: Uni Sans Heavy.otf;
}

button {
  width: 20vw;
  height: 25vh;
  margin: 0 auto;
  font-family: serif;
  color: blue;
  font-size: 18px;
  background-color: rgb(121, 242, 80);;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  border-radius: 7px;
}

.container {
  background-color: purple;
  width: 90%;
  height: 90vh;
  border-radius: 10px;
  position: relative;

  /*text-align: left;*/
  margin-left: auto;
  margin-right: auto;
}

.setBackgroundImage {
  background-size: 100%;
}

.blueBackground {
  background-color: blue;
}

.popOut {
  display: none;
  width: 200px;
  height: 400px;
  background-color: orange;
}

.visable{
  display: block;
  background-color: green;
}

.hidden {
  display: none;
}

/* the * symbol here commands all the children of .popOut to be included*/
.popOut form * {
  display: block;
}
.submitFaceBookButton {
  float: right;
}

#randomQuote {
  text-align: center;
  font-family: cursive;
  font-size: 36px;
  position: relative;
}
/*.greenContainer {}*/
